# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode
/Miscellaneous
server_spotify_prod_test.js
frontend_config.js
TEST frontend_config.js
DeploymentProcess.txt
/src/Components/testformattedDate.js
backend/mongo_db_test.js
sample_long_comments.txt
backend/wkltest.txt
/src dev
prod/config_prod.js
prod/build/
