.PlaylistTable {
    /* font-family: 'Exo 2' */
    margin:auto
}

.PlaylistName {
    /* font-family: 'Exo 2'; */
    text-align: center;
    font-size: large;
    padding-top: 0px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 7px;
}
