
.SongTitle {
  /* width: 150px;
  max-width: 200px; */
  padding: inherit;
  border: inherit;
}

.ArtistName {
  /* width: 130px;
  max-width: 200px; */
  padding: inherit;
  border: inherit;
}

.DateAdded {
  /* width: 100px;
  max-width: 200px; */
  padding: inherit;
  border: inherit
}

.AddedBy {
  /* width: 100px;
  max-width: 200px; */
  padding: inherit;
  border: inherit
}

.Comment {
  /* width: 400px;
  max-width: 400px; */
  padding: inherit;
  border: inherit;
  word-break: break-word;
}

.PlaylistRow {
  text-align: left;
  padding: 5px;
  border: 1px solid black;
  word-wrap: break-word;
}