.PlaylistSelector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    align-items: center;
    /* font-family: 'Exo 2' */
    /* background-color:goldenrod; */
}

.SelectionElements {
    text-align: center;
    margin: 3px
    /* background-color:goldenrod */
}

.SelectionElements span {
    text-align: center;
    font-size: large;
    /* font-weight: bold; */
    /* background-color:goldenrod */
}
